<!doctype html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Agnessa</title>
  </head>
  <body>
    <h1>Agnessa Tund</h1>
    <p>see leht on loodud õppetöö raames <a href="https:/www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu</p>
    <hr>
    <p>Viljavedu</p>
    <ul>
      <li><a href="/viljaveoandmed">Sisesta andmed</a></li>
      <li><a href="/kokkuvote">Kokkuvõte</a></li>
    </ul>
  </body>
</html>