<!doctype html>
<html lang="et">
  <head>
    <meta charset="utf-8" />
    <title>Agnessa</title>
  </head>
  <body>
    <img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimine 2024.aasta banner"></img>
    <h1>Agnessa Tund</h1>
    <p>see leht on loodud õppetöö raames <a href="https:/www.tlu.ee" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu</p>
    <hr>
    <% if (user) { %>
      <p>Sisse loginud kasutaja:  <%= user.firstName %> <%= user.lastName %></p>
    <% } %>
    <ul>
      <li><a href="/home">Avaleht</a></li>
    </ul>
    <hr>
    <h2><%= visit %></h2>
    <ol>
      <% listData.forEach(function(item){ %>
          <li><%= item %></li>
      <% }); %>
    </ol>
  </body>
</html>